doctype html
html
head
	title= title
	link(rel='stylesheet', href='/stylesheets/style.css')
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
body
	.container
		nav.navbar 
			a(href="/" class='nav-link') Home
			div 
				if !currentUser
					a(href="/sign-up" class='nav-link') Sign Up 
					a(href="/login" class='nav-link') Log In 
				else 
					a(href='/log-out' class='nav-link') Log Out
		block content
      
